.Cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(255, 237, 178);
    height: auto;
    min-height: 300px;
    width: 90%;
    margin: 50px 5% 0 5%;
    border-radius: 20px;
}& h2 {
    color: black;
    font-size: 25px;
}