@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue');
/*.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  } */
  @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
/* .merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}
 */
  .cardProduct{
    height: 250px;
    width: 170px;
    border: 2px solid rgb(255, 109, 56);
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.nameProduct {
    font-family: "Bebas Neue", sans-serif;
}
.priceProduct {
    color: red;
    font-size: 20px;
    font-family: "Bebas Neue", sans-serif;
}
.buttonProduct {
    background-color: black;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 5px;
    border: none;
    box-shadow: 2px -2px 1px grey;
}& a {
    color: white;
    padding: 8px;
}
.descriptionProduct {
    font-family: "Merriweather", serif;
    font-weight: 600;
    font-style: normal;
    overflow: auto;
    font-size: 12px;
    text-align: center;
}
.divImg {
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.divImg img {
    width: 100px;
    margin: 5px auto 0 auto;
}