#seccionCompra {
    margin: 20px;
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: space-around;
    align-items: center;
}
.botonesCompra {
    background-color: black;
    color: white;
    border:0.5px solid rgb(167, 84, 118);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}